<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- update the header -->
    <h1>Edit <%= bird.name %></h1>
    <form action="/birds/<%= bird._id %>?_method=PUT" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="<%= bird.name %>" />

      <label for="isReadyToFly">Ready to Fly?</label>
      <input type="checkbox" name="isReadyToFly" id="isReadyToFly" <% if(bird.isReadyToFly) { %> checked <% }%>/>

      <button type="submit">Update Bird</button>
    </form>
    <a href="/birds">Back to Birds</a>
  </body>
</html>