<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Birds App</title>
  </head>
  <body>
    <h1>Welcome to the Bird Page!</h1>
    <p>The World's #1 resource for all things bird related!</p>
    <a href="/birds">Browse Birds</a>
  </body>
</html>